
body{
    background-color: #3AA6B9;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
button{
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px ;
    background-color: rgb(173, 128, 128);
    border: none;
    font-weight: 600;
    border-radius: 5px;
}
.message{
    font-weight: 700;
    font-size: 2rem;
    display: none;
    color: rgb(0, 0, 0);
    padding: 100px;
    background-color: #FFD0D0;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}
.display{
    display: block;
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 1.7rem;
    }
    .message{
        width: 30%;
    }
}